:root {

--Gradient1:      hsl(6, 100%, 80%);
--Gradient2:      hsl(335, 100%, 65%);
--Pale-Blue:      hsl(243, 100%, 93%);
--Grayish-Blue:   hsl(229, 7%, 55%);
--Dark-Blue:      hsl(228, 56%, 26%);
--Very-Dark-Blue: hsl(229, 57%, 11%);
}

* {
    
    box-sizing: border-box;
    margin: 0;
}

body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url(./images/bg-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: var(--Pale-Blue);
}

.triangle {

    display: none;
}

.main__section1 {

    height: 200px;
    width: 326px;
    background-color: var(--Dark-Blue);
    border-radius: 10px 100px 10px 10px;
    padding: 40px;
}

.icons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 182px;
    margin-top: 20px;
}

.icons__box {

    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 50px;
    border-radius: 10px;
}

.icons__icon {

    width:  24px;
}

.main__section2 {

    width: 328px;
    height: 160px;
    background-color: var(--Dark-Blue);
    border-radius: 10px;
    margin-top: 18px;
    padding: 34px 34px 56px;
}

.section2__paragraph {

    text-align: center;
}

.section2__paragraph span , .min-max {
    
    font-size: 0.8rem;
    font-weight: 700;
}

.min-max {
    display: flex;
    justify-content: space-between;
}

.section2__bar {
    
    display: flex;
    background-color: hsla(229, 57%, 11%, 0.404);
    height: 16px;
    width: 100%;
    border-radius: 10px;
    margin: 14px 0px 12px;
    padding: 11px 3px;
    align-items: center;
}

.bar__barcolor {

    display: flex;
    background: linear-gradient(90deg , var(--Gradient1), var(--Gradient2)) ;
    height: 16px;
    width: 76%;
    border-radius: 10px;
    align-items: center;
}

.bar__ball {

   height: 14px;
   width: 14px;
   background-color: white;
   border-radius: 100%;
   margin-left: 176px;
}

.main__section3 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    height: 74px;
    width: 170px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    bottom: 2rem;
    left: 4.94rem;
}

.section3__storage {

    font-size: 2.4rem;
    font-weight: 700;
    padding: 6px;
}

.section3__storage2 {

    font-size: 0.8rem;
    font-weight: 700;
    color: var(--Grayish-Blue);
    padding: 10px 6px 6px;
}


@media (min-width: 1024px) {

    
body {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw 50vh;
    background-color: var(--Very-Dark-Blue);    
}

.main {

    display: flex;
    align-items: flex-end ;

}

.relative {

    position: relative;
}

.main__section3 {

    position: absolute;
    bottom: 8rem;
    left: 21.2rem;
}

.main__section1 {

    height: 202px;
    width: 352px;
    margin-right: 30px;
}

.section1__icons {

    margin-top: 31px;
}

.main__section2 {

    height: 154px;
    width: 542px;
}

.section2__paragraph {

    text-align: start;
}

.bar__ball {

    margin-left: 340px; 
}

.triangle {

    display: flex;
    border-top: 26px solid white;
    border-right: 0px solid transparent;
    border-left: 29px solid transparent;
    position: absolute;
    bottom: 6.9rem;
    left: 30rem;
}

}







 
